body {
   margin: 0%;
   padding: 0%;
   background-image: url(/img/time.png);
   background-repeat: no-repeat;
   background-size: cover;
}

.container {
   font-family: Arial, Helvetica, sans-serif;
   color: white;
   font-weight: bold;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 70px;
}